body {
  background: #a71b3e;
  color: white;
  font: 14px/1.5 Helvetica, Arial, sans-serif;
  margin: 20px auto;
  width: 800px;
  padding: 100px;
}

a {
  color: #efaaca;
  text-decoration: none;
}
